* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 800px;
    margin: 0 70px 55px;
    position: relative;
}

.card-list {
    display: flex;
    position: relative;
    transition: transform 0.5s ease;
}

.card-list .card-item {
    background: rgba(75, 71, 71, 0.2);
    border: 1px solid rgba(12, 225, 90, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
    width: 100%;
    padding: 35px;
    border-radius: 12px;
    color: #fff;
}

.card-list .card-item .image {
    width: 650px;
    height: 450px;
    margin: 0 75px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    padding: 5px;
}

#s1:checked ~ .card-list .card-item {transform: translateX(0%);}
#s2:checked ~ .card-list .card-item {transform: translateX(-100%);}
#s3:checked ~ .card-list .card-item {transform: translateX(-200%);}
#s4:checked ~ .card-list .card-item {transform: translateX(-300%);}